@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Lato", sans-serif;
}

#app {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 0.25rem 0.5rem;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  background: transparent;
}

.btn:hover {
  cursor: pointer;
}

.container {
  width: min(900px, 100%);
  margin: 0 auto;
}

.title {
  padding-top: 2rem;
}
